@import "tailwindcss";

.bia-bg {
    background-image: url(image.png);
    background-size: contain;
}


.triangle-up {

    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(214, 211, 211);
    border-left: 5px solid transparent;
}